# Project files
.idea/
.idea
.history/

# orca
.vscode/
*.out

# Environment
venv
.venv
.python-version
.pyenv

# Code build files
*.egg-info
__pycache__/
*.pyc

**.version

# Weight files
*.weights
*.hdf5
*.h5

*.caffemodel
*.prototxt

# pytest
.pytest_cache


# generated
*.tar.gz
*.db

