# Project files
.idea/
.idea
.history/

# orca
.vscode/
*.out

# Environment
venv
.venv
.python-version
.pyenv

# Code build files
*.egg-info
__pycache__/
*.pyc

**.version

# pytest
.pytest_cache

# generated
*.tar.gz
*.db
*.log

# deployment
*.deta/
.space